<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campaign Finance Tracker</title>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <script type="text/javascript" src="static/js/read-csv.js"></script>
    <input type="file" id="csvFileInput" onchange="handleFiles(this.files)"
            accept=".csv">









    <form class="example" style="margin:auto;max-width:500px">
        <input type="text" placeholder="Type in a Congressman" name="search2" id="city-input">
        <button id="add-city" type="submit">Search<i class="fa fa-search"></i></button>
      </form>
      
      <script src="script.js" type="text/javascript"></script>
    </body>
</html>